.elementor-kit-7 {
    --e-global-color-primary: #786D64;
    --e-global-color-secondary: #786D64;
    --e-global-color-text: #000000;
    --e-global-color-accent: #336622;
    --e-global-color-94ae39c: #481B64;
    --e-global-color-6fe4209: #786D64;
    --e-global-color-f840907: #336622;
    --e-global-color-5bddfe5: #257586;
    --e-global-color-c9ae8ba: #FFFFFF;
    --e-global-color-ff45bb3: #D9D9D9;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    font-family: "Arimo", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-spacing: 0.5px;
}

.elementor-kit-7 h1 {
    font-family: "Elsie", Sans-serif;
    font-size: 56px;
    font-weight: 500;
    line-height: 64px;
    word-spacing: 0.2px;
}

.elementor-kit-7 h2 {
    font-family: "Elsie", Sans-serif;
    font-size: 48px;
    line-height: 56px;
    word-spacing: 0.2px;
}

.elementor-kit-7 h3 {
    font-family: "Elsie", Sans-serif;
    font-size: 28px;
    line-height: 28px;
    word-spacing: 0.5px;
}

.elementor-kit-7 h4 {
    font-family: "Elsie", Sans-serif;
    font-size: 22px;
}

.elementor-kit-7 h5 {
    font-family: "Elsie", Sans-serif;
    font-size: 18px;
}

.elementor-kit-7 h6 {
    font-family: "Elsie", Sans-serif;
    font-size: 16px;
}

.elementor-kit-7 button,
.elementor-kit-7 input[type="button"],
.elementor-kit-7 input[type="submit"],
.elementor-kit-7 .elementor-button {
    font-family: "Arimo", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: var( --e-global-color-primary);
}

.elementor-kit-7 button:hover,
.elementor-kit-7 button:focus,
.elementor-kit-7 input[type="button"]:hover,
.elementor-kit-7 input[type="button"]:focus,
.elementor-kit-7 input[type="submit"]:hover,
.elementor-kit-7 input[type="submit"]:focus,
.elementor-kit-7 .elementor-button:hover,
.elementor-kit-7 .elementor-button:focus {
    color: var( --e-global-color-94ae39c);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}